.category {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 99px;
  min-height: 23px;
  padding: 5px 22px;
  border-radius: 10px 2px 10px 2px;
  background-color: var(--main);
  color: var(--white);
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.91px;
  text-align: center;
  white-space: nowrap;
}
