.title {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  margin-block-start: 60px;

  @media (width >= 768px) {
    margin-block-start: 72px;
  }

}

.text {
  margin-block-start: 15px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.button {
  text-align: center;
  margin-block-start: 50px;
}

.image {
  display: block;
  width: 100%;
  max-width: 200px;
  height: auto;
  margin-block-start: 50px;
  margin-inline: auto;
}