.grid {
  display: grid;
  grid-template-columns: minmax(0, 302px);
  gap: 30px;
  width: 100%;
  justify-content: center;
}

@media (width >= 768px) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 300px));
    gap: 42px;
    width: min(100%, 984px);
  }
}

@media (width >= 1024px) {
  .grid {
    grid-template-columns: repeat(3, minmax(0, 300px));
  }
}
